* {
    margin:0px;
    padding:0px;
}
#header {
    color:white;
    border-bottom-color:white;
    background-color:black;
    border-bottom-width:4px;
    border-bottom-style:solid;
    font-size:16px;
    text-align:center;
    font-family:"Times New Roman";
    padding:20px;
}
body {
    background-color:black;
}
#header:hover {
    border-color:gray;
    color:gray;
}
a {
    text-decoration:none;
}
#explanatoryText {
    color:white;
    display: block;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
#revealButton {
    width:30%;
    display: block;
    margin-left:auto;
    margin-right:auto;
    font-size:20px;
    cursor:help;
    color:black;
    border-radius:5px;
    margin-top:7px;
}
#mathEnter {
    width:30%;
    display: block;
    margin-left:auto;
    margin-right:auto;
    font-size:20px;
    border: solid 2px white;
    border-radius: 5px;
    margin-top:7px;
}
#mathCalculate {
    width:30%;
    display: block;
    margin-left:auto;
    margin-right:auto;
    font-size:20px;
    color:black;
    border: solid 2px white;
    border-radius: 5px;
    margin-top:4px;
}
#otherNumber {
    width:30%;
    display: block;
    margin-left:auto;
    margin-right:auto;
    font-size:20px;
    border: solid 2px white;
    border-radius: 5px;
    margin-top:7px;
}
#answer {
    width:30%;
    display: block;
    margin-left:auto;
    margin-right:auto;
    font-size:20px;
    border: solid 2px white;
    border-radius: 5px;
    margin-top:7px;
}
#maths {
    width:30%;
    display: block;
    margin-left:auto;
    margin-right:auto;
    border: solid 2px white;
    font-size:16px;
    margin-top:7px;
}
#hover {
    background-color:black;
    height:37px;
    width:30%;
    display: block;
    margin-left:auto;
    margin-right:auto;
    color:white;
    font-size:24px;
    border:2px solid white;
    text-align:center;
    border-radius:5px;
    cursor:default;
    margin-top:7px;
    padding-top:3px;
}
#counter {
    color:white;
    width:30%;
    display: block;
    margin-left:auto;
    margin-right:auto;
    padding-top:5px;
    text-align:center;
    font-size:24px;
    border: 2px solid white;
    border-radius:5px;
    margin-top:7px;
    cursor: default;
}
#increment {
    width:30%;
    display: block;
    margin-left:auto;
    margin-right:auto;
    font-size:20px;
    border: white 2px solid;
    border-radius:5px;
    margin-top:7px;
}
.seperator {
    background-color:white;
    width:99%;
    height:0.5px;
    margin-top:7px;
}
#incrementer {
    width:30%;
    border: white 2px solid;
    border-radius:5px;
    display: block;
    margin-left:auto;
    margin-right:auto;
    font-size:20px;
    margin-top:1px;
}